In [7]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/98bao/Migros/main/data/training_data.csv")
df

         id  ... target
0      3738  ...      0
1       853  ...      0
2     10540  ...      1
3      5988  ...      1
4      6328  ...      1
...     ...  ...    ...
6466   4377  ...      1
6467   3408  ...      0
6468   9794  ...      1
6469  10344  ...      1
6470   1779  ...      1

[6471 rows x 5 columns]